* {
  margin: 0;
  padding: 0;
}
html,
body {
  box-sizing: border-box;
}
.container {
  width: 100vw; /*ajustar tamanho min30*/
  display: flex;
  justify-content: space-around;
}
.container div {
  width: 50px;
  height: 50px;

  background: url("https://pngimg.com/uploads/coin/coin_PNG36871.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
  border-radius: 100%;

  animation: efeito-moeda-caindo 4s ease-in infinite;
}
.moeda-um {
  animation-delay: -5s !important;
}
.moeda-dois {
  animation-delay: -3s !important;
}
.moeda-tres {
  animation-delay: -4s !important;
}
.moeda-quatro {
  animation-delay: -2.5s !important;
}
.moeda-cinco {
  animation-delay: -1s !important;
}

@keyframes efeito-moeda-caindo {
  0% {
    transform: translate(0vw, -20vh);
  }
  100% {
    transform: translate(0vw, 100vh) rotateY(360deg) rotateX(45deg);
  }
}
